In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
my_array = np.array([10,20,30])
d={1:10,2:20,3:30}

In [3]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(d)

1    10
2    20
3    30
dtype: int64

In [9]:
data = {
    "Name": ["John", "Anna", "Peter", "Linda"],
    "Age": [28, 22, 34, 42],
    "City": ["New York", "Paris", "Berlin", "London"],
    "Salary": [50000, 62000, 54000, 46000]
}
df = pd.DataFrame(data)
df

    Name  Age      City  Salary
0   John   28  New York   50000
1   Anna   22     Paris   62000
2  Peter   34    Berlin   54000
3  Linda   42    London   46000

In [11]:
data_list = [
    ["John",28,"New york",65000,"Male"],
    ["Jane",22,"London",75000,"Female"],
    ["Mike",32,"New york",55000,"Male"],
    ["Emily",29,"London",60000,"Female"],
    ["David",35,"New york",70000,"Male"],
]
df2 = pd.DataFrame(data_list,columns=["Name","Age","City","Salary","Gender"])
df2

    Name  Age      City  Salary  Gender
0   John   28  New york   65000    Male
1   Jane   22    London   75000  Female
2   Mike   32  New york   55000    Male
3  Emily   29    London   60000  Female
4  David   35  New york   70000    Male

In [15]:
df2[["Name","Age"]]

    Name  Age
0   John   28
1   Jane   22
2   Mike   32
3  Emily   29
4  David   35

In [23]:
df2["Designation"] = ["Manager","Manager","Manager","Manager","Manager"]
df2

    Name  Age      City  Salary  Gender Designation
0   John   28  New york   65000    Male     Manager
1   Jane   22    London   75000  Female     Manager
2   Mike   32  New york   55000    Male     Manager
3  Emily   29    London   60000  Female     Manager
4  David   35  New york   70000    Male     Manager

In [24]:
df2.drop(["Designation","Salary"],axis=1,inplace=True)
df2

    Name  Age      City  Gender
0   John   28  New york    Male
1   Jane   22    London  Female
2   Mike   32  New york    Male
3  Emily   29    London  Female
4  David   35  New york    Male

In [25]:
df2.loc[[0,1]]

   Name  Age      City  Gender
0  John   28  New york    Male
1  Jane   22    London  Female

In [26]:
df2.iloc[3]

Name       Emily
Age           29
City      London
Gender    Female
Name: 3, dtype: object

In [30]:
df2.loc[[0,1]][["City","Age"]]

       City  Age
0  New york   28
1    London   22

In [31]:
df2.loc[[2,3]][['Name','Age']]

    Name  Age
2   Mike   32
3  Emily   29

In [36]:
df2[(df2["Age"] > 30) & (df2["City"] == "New york")]

    Name  Age      City Gender
2   Mike   32  New york   Male
4  David   35  New york   Male