In [2]:
import pandas as pd
import numpy as np

In [5]:
data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 
               'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 
               'East', 'West', 'North', 'South'],
    'Sales': np.random.randint(10, 1000, 20),
    'Units': np.random.randint(10, 100, 20),
    # Fixed: Added comma after 'Alice'
    'Rep': ['John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice',
            'John', 'Mary', 'Bob', 'Alice', 'John', 'Mary', 'Bob', 'Alice']
}

df = pd.DataFrame(data)
df['Months'] = df['Date'].dt.month_name()
df['Quarter'] = 'Q' + df['Date'].dt.quarter.astype(str)
df

         Date Product Region  Sales  Units    Rep   Months Quarter
0  2023-01-01       A   East     55     52   John  January      Q1
1  2023-01-02       B   West    299     65   Mary  January      Q1
2  2023-01-03       C  North    247     30    Bob  January      Q1
3  2023-01-04       D  South    764     15  Alice  January      Q1
4  2023-01-05       A   East    899     53   John  January      Q1
5  2023-01-06       B   West    830     24   Mary  January      Q1
6  2023-01-07       C  North    206     94    Bob  January      Q1
7  2023-01-08       D  South    529     90  Alice  January      Q1
8  2023-01-09       A   East    101     54   John  January      Q1
9  2023-01-10       B   West    482     59   Mary  January      Q1
10 2023-01-11       C  North    579     22    Bob  January      Q1
11 2023-01-12       D  South     22     93  Alice  January      Q1
12 2023-01-13       A   East    941     17   John  January      Q1
13 2023-01-14       B   West    428     33   Mary  January      Q1
14 2023-01-15       C  North    946     14    Bob  January      Q1
15 2023-01-16       D  South    607     12  Alice  January      Q1
16 2023-01-17       A   East    220     24   John  January      Q1
17 2023-01-18       B   West    101     37   Mary  January      Q1
18 2023-01-19       C  North    537     44    Bob  January      Q1
19 2023-01-20       D  South    125     10  Alice  January      Q1

In [ ]:
pivot = pd.pivot_table(df,values='Sales',index='Region',columns='Product',aggfunc='median')

Product      A      B      C      D
Region
East     220.0    NaN    NaN    NaN
North      NaN    NaN  537.0    NaN
South      NaN    NaN    NaN  529.0
West       NaN  428.0    NaN    NaN

In [12]:
pivot2 = pd.pivot_table(df,values=['Sales','Units'],index='Region',columns='Product')
pivot2

         Sales                      Units
Product      A      B      C      D     A     B     C     D
Region
East     443.2    NaN    NaN    NaN  40.0   NaN   NaN   NaN
North      NaN    NaN  503.0    NaN   NaN   NaN  40.8   NaN
South      NaN    NaN    NaN  409.4   NaN   NaN   NaN  44.0
West       NaN  428.0    NaN    NaN   NaN  43.6   NaN   NaN

In [13]:
pd.crosstab(df['Region'],df['Product'])

Product  A  B  C  D
Region
East     5  0  0  0
North    0  0  5  0
South    0  0  0  5
West     0  5  0  0